// Fonts
// Base
html,
body {
    min-height: 100%;
    scroll-behavior: smooth;
}
body.unscroll {
    overflow-y: hidden;
}
html {
    font-size: 100%;
}
body {
    color: var(--text);
    background-color: var(--back);
    font-weight: 400;
    font-family: var(--font-main);
}
// Utils 
.page {
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark);
    margin: 0 auto;
}
.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--container-padding-x);
    @media screen and (min-width: 1440px) {
        max-width: 100%;
        padding: 0 25px;
    }
    @media screen and (max-width: 992px) {
        max-width:  750px;
    }
    @media screen and (max-width: 576px) {
        max-width: 100%;
    }
}
// Typography