// Home Page 
// Hero Section
.hero {
    padding-top: 9.063rem;
    padding-bottom: 4.375rem;
    &__inner {
        display: flex;
    }
    &__content {
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        padding-right: 14%;
    }
    &__btn {
        align-self: flex-start;
    }
    &__heading, &__text {
        margin-bottom: 2.5rem;
    }
    &__avatar {
        border-radius: 50%;
        flex: 1 0 100%;
    }
    @media screen and (max-width: $mobile) {
        padding-top: 2rem;
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__content {
            margin-top: 2rem;
            text-align: center;
            padding-right: 0;
        }
        &__avatar {
            max-width: 180px;
        }
        &__btn {
            align-self: center;
        }
    }
}
// Posts Section
.posts {
    padding: 2rem 0;
    background-color: var(--surface-secondary);
    &__title {
        margin-bottom: 1.25rem;
    }
}
// Works Section
.works {
    padding-top: 2.25rem;
    padding-bottom: 5.188rem;
    &__title {
        margin-bottom: 3rem;
    }
} 

// Blog Page
.blog {
    &__heading {
        margin-bottom: 3.125rem;
    }
}
// Work Page
.work {
    &__heading {
        margin-bottom: 3.125rem;
    }
}